<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.craffic.convey.server.dao.CvUserMapper">

    <resultMap id="BaseResultMap" type="com.craffic.convey.server.model.CvUser">
        <id property="id" column="ID" jdbcType="NUMERIC"></id>
        <result property="workId" column="WORK_ID" jdbcType="NUMERIC"></result>
        <result property="idCardNo" column="IDCARD_NO" jdbcType="NUMERIC"></result>
        <result property="acct" column="ACCT" jdbcType="VARCHAR"></result>
        <result property="nameZh" column="NAME_ZH" jdbcType="VARCHAR"></result>
        <result property="gender" column="GENDER" jdbcType="VARCHAR"></result>
        <result property="password" column="PASSWORD" jdbcType="NUMERIC"></result>
        <result property="phone" column="PHONE" jdbcType="NUMERIC"></result>
        <result property="email" column="EMAIL" jdbcType="NUMERIC"></result>
        <result property="iconUrl" column="ICON_URL" jdbcType="NUMERIC"></result>
        <result property="posId" column="POS_ID" jdbcType="NUMERIC"></result>
        <result property="dptId" column="DPT_ID" jdbcType="NUMERIC"></result>
        <result property="remark" column="REMARK" jdbcType="NUMERIC"></result>
        <result property="beginDate" column="BEGIN_DATE" jdbcType="NUMERIC"></result>
        <result property="convertDate" column="CONVERT_DATE" jdbcType="NUMERIC"></result>
        <result property="workStat" column="WORK_STAT" jdbcType="NUMERIC"></result>
        <result property="leaveDate" column="LEAVE_DATE" jdbcType="NUMERIC"></result>
        <result property="createdDate" column="CREATED_DATE" jdbcType="TIMESTAMP"></result>
        <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"></result>
        <result property="updateDate" column="UPDATE_DATE" jdbcType="TIMESTAMP"></result>
        <result property="updateBy" column="UPDATE_BY" jdbcType="VARCHAR"></result>
    </resultMap>
    
    <resultMap id="profileMap" type="com.craffic.convey.server.model.CvUser" extends="BaseResultMap">
        <collection property="roles" ofType="com.craffic.convey.server.model.CvRole">
            <id property="id" column="RID" jdbcType="NUMERIC"></id>
            <result property="role" column="ROLE" jdbcType="VARCHAR"></result>
            <result property="roleName" column="ROLE_NAME" jdbcType="VARCHAR"></result>
        </collection>
    </resultMap>

    <sql id="BaseColumns">
        U.ID, U.WORK_ID, U.IDCARD_NO, U.ACCT, U.NAME_ZH, U.GENDER, U.PASSWORD, U.PHONE, U.EMAIL, U.ICON_URL, U.POS_ID, U.DPT_ID, U.REMARK,
        U.BEGIN_DATE, U.CONVERT_DATE, U.WORK_STAT, U.LEAVE_DATE, U.CREATED_DATE, U.CREATED_BY, U.UPATE_DATE, U.UPDATE_BY
    </sql>

    <insert id="addUser" parameterType="com.craffic.convey.server.model.CvUser">
       insert into cv_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="workId != null">
                WORK_ID,
            </if>
            <if test="acct != null">
                ACCT,
            </if>
            <if test="nameZh != null">
                NAME_ZH,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="iconUrl != null">
                ICON_URL,
            </if>
            <if test="posId != null">
                POS_ID,
            </if>
            <if test="dptId != null">
                DPT_ID,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="beginDate != null">
                BEGIN_DATE,
            </if>
            <if test="convertDate != null">
                CONVERT_DATE,
            </if>
            <if test="workStat != null">
                WORK_STAT,
            </if>
            <if test="leaveDate != null">
                LEAVE_DATE,
            </if>
            <if test="createdDate != null">
                CREATED_DATE,
            </if>
            <if test="createdBy != null">
                CREATED_BY,
            </if>
            <if test="idCardNo != null">
                IDCARD_NO,
            </if>
            <if test="gender != null">
                GENDER,
            </if>
            <if test="password != null">
                PASSWORD,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="workId != null">
                #{workId,jdbcType=INTEGER},
            </if>
            <if test="acct != null">
                #{acct,jdbcType=VARCHAR},
            </if>
            <if test="nameZh != null">
                #{nameZh,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="iconUrl != null">
                #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="posId != null">
                #{posId,jdbcType=INTEGER},
            </if>
            <if test="dptId != null">
                #{dptId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                #{beginDate,jdbcType=DATE},
            </if>
            <if test="convertDate != null">
                #{convertDate,jdbcType=DATE},
            </if>
            <if test="workStat != null">
                #{workStat,jdbcType=INTEGER},
            </if>
            <if test="leaveDate != null">
                #{leaveDate,jdbcType=DATE},
            </if>
            <if test="createdDate != null">
                #{createdDate,jdbcType=DATE},
            </if>
            <if test="idCardNo != null">
                #{idCardNo,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.craffic.convey.server.model.CvUser">
        update CV_USER
        <set>
            <if test="workId != null">
                WORK_ID = #{workId,jdbcType=INTEGER},
            </if>
            <if test="acct != null">
                ACCT = #{acct,jdbcType=VARCHAR},
            </if>
            <if test="nameZh != null">
                NAME_ZH = #{nameZh,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="iconUrl != null">
                ICON_URL = #{iconUrl,jdbcType=VARCHAR},
            </if>
            <if test="posId != null">
                POS_ID = #{posId,jdbcType=INTEGER},
            </if>
            <if test="dptId != null">
                DPT_ID = #{dptId,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="beginDate != null">
                BEGIN_DATE = #{beginDate,jdbcType=DATE},
            </if>
            <if test="convertDate != null">
                CONVERT_DATE = #{convertDate,jdbcType=DATE},
            </if>
            <if test="workStat != null">
                WORK_STAT = #{workStat,jdbcType=INTEGER},
            </if>
            <if test="leaveDate != null">
                LEAVE_DATE = #{leaveDate,jdbcType=DATE},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=DATE},
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="idCardNo != null">
                IDCARD_NO = #{idCardNo,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                GENDER = #{gender,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                PASSWORD = #{password,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="profile" parameterType="java.lang.String" resultMap="profileMap">
        SELECT U.ID,
               U.WORK_ID,
               U.ACCT,
               U.NAME_ZH,
               U.PHONE,
               U.EMAIL,
               U.ICON_URL,
               U.POS_ID,
               U.DPT_ID,
               U.REMARK,
               U.BEGIN_DATE,
               U.CONVERT_DATE,
               U.WORK_STAT,
               U.GENDER,
               R.ID AS RID,
               R.ROLE,
               R.ROLE_NAME
        FROM CV_USER U LEFT JOIN CV_USER_ROLE UR ON UR.USER_ID = U.ID LEFT JOIN CV_ROLE R ON R.ID = UR.ROLE_ID
        WHERE U.IDCARD_NO = #{idCardNo,jdbcType=VARCHAR}
    </select>

    <delete id="deleteUserById" parameterType="java.lang.Long">
        delete from CV_USER where id = #{id,jdbcType=NUMERIC}
    </delete>

    <select id="generateWorkId" resultType="java.lang.Long">
        SELECT SEQ_CV_USER.NEXTVAL WORK_ID FROM DUAL
    </select>

    <select id="getAllUsers" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns" />
          FROM CV_USER U
    </select>

    <select id="loadUserByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="BaseColumns" /> FROM CV_USER U WHERE U.ACCT = #{acct}
    </select>

    <select id="queryUsersByCondition" resultMap="BaseResultMap">
        SELECT * FROM (
        　　SELECT A.*, rownum r FROM (
        　　　　SELECT <include refid="BaseColumns" />
                 FROM CV_USER U
                WHERE 1=1
                  <if test="user.acct != null and user.acct != ''">
                      AND (U.ACCT LIKE CONCAT(CONCAT('%', #{user.acct}), '%') OR U.NAME_ZH LIKE CONCAT(CONCAT('%', #{user.acct}), '%'))
                  </if>
        　　) A WHERE rownum &lt;= #{user.endRecord,jdbcType=NUMERIC}
        ) B WHERE r > #{user.startRecord,jdbcType=NUMERIC}
    </select>

    <select id="queryTotalNum" resultType="java.lang.Long">
        SELECT count(*) cnt
          FROM CV_USER U
         WHERE 1=1
        <if test="user.acct != null and user.acct != ''">
            AND (U.ACCT LIKE CONCAT(CONCAT('%', #{user.acct}), '%') OR U.NAME_ZH LIKE CONCAT(CONCAT('%', #{user.acct}), '%'))
        </if>
    </select>
</mapper>

