<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.craffic.convey.server.dao.OaDictMapper">

    <resultMap id="BaseResultMap" type="com.craffic.convey.server.model.OaDict">
        <id property="id" column="ID" jdbcType="VARCHAR"></id>
        <result property="itemName" column="ITEM_NAME" jdbcType="VARCHAR"></result>
        <result property="pKey" column="P_KEY" jdbcType="NUMERIC"></result>
        <result property="key" column="KEY" jdbcType="NUMERIC"></result>
        <result property="value" column="VALUE" jdbcType="VARCHAR"></result>
        <result property="comments" column="COMMENTS" jdbcType="VARCHAR"></result>
    </resultMap>

    <sql id="Base_Column_List">
        D.ID, D.ITEM_NAME, D.P_KEY, D.KEY, D.VALUE, D.COMMENTS
    </sql>

    <insert id="addDict" parameterType="com.craffic.convey.server.req.OaDictReq">
        INSERT INTO OA_DICT
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemName != null and itemName != ''">
                P_KEY,
            </if>
            <if test="pKey != null">
                P_KEY,
            </if>
            <if test="key != null">
                KEY,
            </if>
            <if test="pKey != null">
                P_KEY,
            </if>
        </trim>
    </insert>

    <select id="queryDictListByItemName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
          FROM OA_DICT D
         WHERE D.ITEM_NAME = #{itemName}
    </select>

    <select id="queryDictByKey" resultType="com.craffic.convey.server.model.OaDict">
        SELECT <include refid="Base_Column_List"/>
        FROM OA_DICT D
        WHERE D.KEY = #{key,jdbcType=NUMERIC} AND D.ITEM_NAME = #{itemName,jdbcType=VARCHAR}
    </select>

    <select id="queryAllItemNameDist" resultType="java.lang.String">
        SELECT DISTINCT(D.ITEM_NAME) ITEM_NAME FROM OA_DICT D
    </select>

    <select id="queryDistPNodeByItemName" resultType="com.craffic.convey.server.model.OaDict">
        SELECT DISTINCT(NVL(D.P_KEY, 0)) KEY, D1.VALUE FROM OA_DICT D LEFT JOIN OA_DICT D1 ON D.P_KEY = D1.KEY WHERE D.ITEM_NAME = #{itemName}
    </select>

    <select id="queryTotalNum" resultType="java.lang.Long">
        SELECT count(*) cnt
        FROM OA_DICT D LEFT JOIN OA_DICT D1 ON D.P_KEY = D1.KEY
        WHERE 1=1
        <if test="dict.itemName != null and dict.itemName != ''">
            AND D.ITEM_NAME = #{dict.itemName}
        </if>
        <if test="dict.pKey != null">
            AND D.P_KEY = #{dict.pKey}
        </if>
        <if test="dict.key != null">
            AND D.KEY = #{dict.key}
        </if>
        <if test="dict.value != null and dict.value != ''">
            AND D.VALUE = #{dict.value}
        </if>
        <if test="dict.comments != null and dict.comments != ''">
            AND D.COMMENTS = #{dict.value}
        </if>
    </select>

    <select id="queryByPage" resultType="com.craffic.convey.server.vo.OaDictVo">
        SELECT * FROM (
        　　SELECT A.*, rownum r FROM (
        　　　　SELECT D.ID, D.ITEM_NAME, D1.KEY P_KEY, D1.VALUE P_VALUE, D.KEY, D.VALUE
                FROM OA_DICT D LEFT JOIN OA_DICT D1 ON D.P_KEY = D1.KEY
               WHERE 1=1
               <if test="dict.itemName != null and dict.itemName != ''">
                   AND D.ITEM_NAME = #{dict.itemName}
               </if>
               <if test="dict.pKey != null">
                   AND D.P_KEY = #{dict.pKey}
               </if>
               <if test="dict.key != null">
                   AND D.KEY = #{dict.key}
               </if>
               <if test="dict.value != null and dict.value != ''">
                   AND D.VALUE = #{dict.value}
               </if>
               <if test="dict.comments != null and dict.comments != ''">
                   AND D.COMMENTS = #{dict.comments}
               </if>
            ORDER BY D.KEY
        　　) A WHERE rownum &lt;= #{dict.endRecord,jdbcType=NUMERIC}
        ) B WHERE r > #{dict.startRecord,jdbcType=NUMERIC}
    </select>
</mapper>